@import url("https://fonts.googleapis.com/css2?family=Finlandica&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #010101;
}

.App-link {
  color: #61dafb !important;
}

body {
  margin: 0 !important;
  font-family: "Finlandica", Arial, sans-serif;
  background: linear-gradient(
      360deg,
      rgb(11, 0, 23) 0%,
      rgba(0, 212, 255, 0) 100%
    ),
    linear-gradient(180deg, rgba(0, 255, 238, 0.25) 0%, rgba(0, 55, 82, 0) 100%) !important;
  background-color: #0d1b2a !important;
  background-attachment: fixed !important;
  color: rgba(255, 240, 254, 0.411);
  color: #b1bac5 !important;
  /* height: 100vh; */
  /* margin-bottom: 20px; */
}

p {
  color: #b1bac5;
}

h3 {
  color: #b1bac5;
}

img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.cardLogin {
  background: linear-gradient(
    0deg,
    rgba(152, 150, 255, 0.05) 0%,
    rgba(0, 55, 82, 0) 25%
  ) !important;
  background-color: #131439 !important;
  color: #b1bac5 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75) !important;
}

.containerProduct {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 30px !important;
}

/* .cardWrapper {
  margin-bottom: 20px;
} */

.cardProduct {
  background: linear-gradient(
    0deg,
    rgba(152, 150, 255, 0.05) 0%,
    rgba(0, 55, 82, 0) 25%
  ) !important;
  background-color: #131439 !important;
  color: #b1bac5 !important;
  width: 400px !important;
  height: 600px !important;
  padding: 30px !important;
  border-radius: 15px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardProduct h4 {
  height: 5ch;
}

.cardProduct img {
  max-width: 200;
  border-radius: 10px !important;
  height: 300px;
}

.prodText {
  color: #b1bac5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add2Db {
  margin-top: 5px;
  background-color: #b1bac5;
  color: #4b719c;
  border-radius: 5px !important;
  border: none !important;
}

.add2SC {
  margin-top: 5px;
  background-color: #4b719c;
  color: #b1bac5;
  border-radius: 5px !important;
  border: none !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header select {
  background-color: #1b263b;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
}

.ari {
  margin-left: 30px !important;
  font-weight: 666 !important;
}

.sidar {
  margin-left: -70px !important;
  font-weight: 666 !important;
}

.form {
  display: none;
  flex-direction: column;
}

form input {
  background-color: #0d1b2a !important;
  color: #b1bac5 !important;
  border: none !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 10px !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #ffffff00,
    0 1px 0 #ffffff00 !important;
}

form a {
  color: #adb5bd !important;
  font-size: 0.8rem !important;
  margin-bottom: 20px !important;
  text-decoration: none !important;
  align-self: flex-end !important;
}

form input::placeholder {
  color: #535353 !important;
}

form button {
  background-color: #1b263b !important;
  color: #fff !important;
  border: none !important;
  padding: 10px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 1rem !important;
}

form button:hover {
  background-color: #415a77 !important;
}

p {
  font-size: 0.9rem;
  text-align: center;
}

p a {
  color: #61dafb;
  text-decoration: none !important;
}

p a:hover {
  text-decoration: underline !important;
}

/* ! Anchor-Tag */

a:link {
  color: #4b719c !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:visited {
  color: rgb(94, 158, 184) !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:hover {
  color: whitesmoke !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

a:active {
  color: rgb(0, 255, 208) !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

.text-mutend {
  color: #3e5787 !important;
}

.btnLogin {
  background-color: #113258 !important;
  color: #b1bac5 !important;
  border: none !important;
  padding: 10px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 1rem !important;
}

.btnLogin:hover {
  background-color: #001126 !important;
  box-shadow: inset 6px 6px 2px 0 #00091376, inset -6px -6px 2px 0 #1132582d !important;
  color: rgb(255, 0, 128) !important;
}

.gotoSignup {
  margin-bottom: 10px !important;
}

.gotoLogin {
  margin-bottom: 10px !important;
}

/* ! Main-Navbar */

.main-navbar {
  background: linear-gradient(
      0deg,
      rgba(150, 255, 255, 0.05) 0%,
      rgba(0, 55, 82, 0) 75%
    ),
    #001126 !important;
  color: #b1bac5 !important;
  padding: 10px 0 !important;
  box-shadow: 0 4px 8px rgba(20, 0, 37, 0.4) !important;
  position: relative !important;
  z-index: 1000 !important;
  height: 100px !important;
}

.main-navbar button {
  background-color: #113258 !important;
  color: #b1bac5 !important;
  padding: 10px !important;
  border: none !important;
  cursor: pointer !important;
  font-size: 1rem !important;
  height: 50px;
}

.main-navbar button:hover {
  background-color: #001126 !important;
  box-shadow: inset 6px 6px 2px 0 #00091376, inset -6px -6px 2px 0 #1132582d !important;
  color: rgb(255, 0, 128) !important;
}

/* ! Sub-Navbar */

.sub-navbar-loggedin {
  background-color: #001126 !important;
  box-shadow: 0 4px 8px rgba(0, 30, 71, 0.5) !important;
  color: #b1bac5 !important;
  /* padding: 10px 0 !important; */
}

.sub-navbar-loggedin a {
  color: #b1bac5 !important;
  /* padding: 10px !important; */
  text-decoration: none !important;
}

.sub-navbar-loggedin a:hover {
  color: #fff !important;
  background-color: #113258 !important;
}

.sub-navbar-loggedout {
  background-color: #113258 !important;
  color: #b1bac5 !important;
  /* padding: 10px 0 !important; */
}

.sub-navbar-loggedout a {
  color: #b1bac5 !important;
  /* padding: 10px !important; */
  text-decoration: none !important;
}

.sub-navbar-loggedout a:hover {
  color: #fff !important;
  background-color: #113258 !important;
}

/* ! Forgot Password & SignUp */

.forgot-password {
  color: #b1bac5 !important;
  text-align: center !important;
  font-size: smaller !important;
}

/* Main-Navbar 3er div */
.main-navbar-div {
  width: 33.2% !important;
}

/* Shopping-Bag */

.shopping-bag {
  font-size: 2rem;
  color: #b1bac5 !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.searchbar {
  display: flex;
  /* height: 20px !important; */
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin: 20px 0; */
  /* padding-top: 0px; */
}

.searchbar-form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  width: 100%;
  height: 40px;
  margin-top: 7.5px !important;
  margin-bottom: 20px !important;
}

.searchbar-input {
  background-color: #1b263b !important;
  box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 -1px 1px #000000,
    0 1px 0 #ffffff !important; /* AAAAAAAAAARGH */
  height: 54px;
  font-size: 1.3rem !important;
  /* width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  */

  /* display: flex;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important; */
  /* height: 44px; */
}

/* ? ---------   */
/* ? Scrollbar   */
/* ? ---------   */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b263b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #113258;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #344970;
  border-radius: 12px;
}

.price {
  font-size: 25px !important;
  vertical-align: super !important;
  margin: 0 !important;
  padding-bottom: 5px !important;
}

.a-price-whole {
  font-size: 30px !important;
}

.a-price-fraction {
  font-size: 17.5px !important;
  vertical-align: super !important;
}

.a-price-symbol {
  font-size: 17.5px !important;
  vertical-align: super !important;
}

/* UserProfile */

.profile-container {
  display: flex;
  align-items: center;
  margin: 30px;
}

/* .profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 20px;
} */

.ppph-frame {
  background-color: #001126 !important;
  box-shadow: 0 4px 8px rgba(0, 30, 71, 0.5) !important;
  color: #b1bac5 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75) !important;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.ppph {
  background: linear-gradient(
    0deg,
    rgba(152, 150, 255, 0.05) 0%,
    rgba(0, 55, 82, 0) 25%
  ) !important;
  background-color: #131439 !important;
  color: #b1bac5 !important;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  position: relative;
}

.ppph::before {
  left: 0;
}

.ppph::after {
  right: 0;
}

.text-container {
  background: linear-gradient(
    0deg,
    rgba(152, 150, 255, 0.05) 0%,
    rgba(0, 55, 82, 0) 25%
  ) !important;
  background-color: #131439 !important;
  color: #b1bac5 !important;
  width: 666px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.text-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75) !important;
}

.username {
  background: linear-gradient(
      360deg,
      rgb(11, 0, 23) 0%,
      rgba(0, 212, 255, 0) 100%
    ),
    linear-gradient(180deg, rgba(0, 255, 238, 0.25) 0%, rgba(0, 55, 82, 0) 100%) !important;
  background-color: #0d1b2a !important;
  padding: 10px;
  margin: 30px;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.email {
  background: linear-gradient(
      360deg,
      rgb(11, 0, 23) 0%,
      rgba(0, 212, 255, 0) 100%
    ),
    linear-gradient(180deg, rgba(0, 255, 238, 0.25) 0%, rgba(0, 55, 82, 0) 100%) !important;
  background-color: #0d1b2a !important;
  padding: 10px;
  margin: 30px;
  font-size: 20px;
  color: #b1bac5;
  text-align: center;
}

/* ! Cart */

.cart-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.cart-card {
  background: linear-gradient(
    0deg,
    rgba(152, 150, 255, 0.05) 0%,
    rgba(0, 55, 82, 0) 25%
  ) !important;
  background-color: #131439 !important;
  display: flex;
  align-items: center;
  margin: 30px;
  height: 300px;
  width: 800px;
  padding: 30px !important;
  border-radius: 15px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  flex-direction: row;
  justify-content: baseline;
}

.cart-card-image {
  max-width: 130px;
  height: 160px;
  border-radius: 10px;
  margin-right: 20px;
}

.cart-card-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 162px;
  width: 132px;
}

.cart-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-card-text h4 {
  margin: 0;
}

/* User Dashboard */

.udash {
  color: #b1bac5;
  display: flex !important;
  align-items: center;
  flex-direction: column !important;
  margin: 0 auto;
  padding: 20px;
  gap: 30px !important;
  flex-wrap: wrap !important;
}

.udash-search {
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  display: grid;
  gap: 30px !important;
}

.udash-res-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 30px;
}

.udash-res {
  background: linear-gradient(
    0deg,
    rgba(152, 150, 255, 0.05) 0%,
    rgba(0, 55, 82, 0) 25%
  ) !important;
  background-color: #131439 !important;
  width: 400px !important;
  height: 600px !important;
  padding: 30px !important;
  border-radius: 15px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: stretch !important;
  gap: 10px !important;
}

.udash-res h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #b1bac5;
}

.udash-search img {
  max-width: 350px;
  border-radius: 10px !important;
  height: 300px;
}

.udash-res img {
  max-width: 350px;
  border-radius: 10px !important;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.udash-res p {
  margin-top: 20px;
}

/* Detail */

.contProd-det {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left {
  flex: 1;
  padding-right: 20px;
  padding-left: 30px;
  padding-top: 30px;
}

.left img {
  max-width: 350px;
  height: auto;
}

.middle {
  flex: 2;
  padding: 20px;
  text-align: left !important;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.buy-now {
  margin-top: 5px;
  background-color: #b1bac5;
  color: #4b719c;
  border-radius: 5px !important;
  border: none !important;
}

.mid-b {
  padding-top: 30px !important;
}

.details p {
  text-align: start;
}

.rmv {
  margin-top: 5px;
  margin-left: 5px;
  background-color: #b1bac5;
  color: #4b719c;
  border-radius: 5px !important;
  border: none !important;
}

.star-rating {
  display: flex;
  gap: 5px;
font-size: 50px;
color: #8000ff;
}
