.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #010101;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d1b2a;
  color: #fff;
  height: 100vh;
}
/* 
.sloginup {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header select {
  background-color: #1b263b;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
}

.cardShadow {
  box-shadow: 0px 0px 20px 3px black;
}

.form-container {
  background-color: #1b263b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  /* display: flex; */
  /* text-align: left; */
  /* text-align: center; */
  /* justify-content: center;
  align-items: center; */
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}

.tab.active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

form input {
  background-color: #0d1b2a;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

form a {
  color: #adb5bd;
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-decoration: none;
  align-self: flex-end;
}

form button {
  background-color: #1b263b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

form button:hover {
  background-color: #415a77;
}

p {
  font-size: 0.9rem;
  text-align: center;
}

p a {
  color: #61dafb;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
